dropbtn {
 color: lightblue;
 padding: 20px;
 font-size: 10px;
 border: none;
 cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
 font-size: 10px;
 display: none;
 position: absolute;
 min-width: 20px;
 overflow: auto;

}

.dropdown-content a {
  padding: 10px 20px;
  display: block;
}
.menu-drop{
  display: none;
  position: absolute;
  min-width: 20px;
  overflow: auto;
}

.menu-drop a {
  font-size: 10px;
  padding: 20px;
  display: block;
}
.dropdown-content a:hover {
}

.menu-drop a:hover {
}

.show {
  display:block;
}

.show1{
  display:block;
}

div #name1{
  position: absolute;
  top: 22px;
  left: 150px;
  font-size: 10px;
}
div #address1{
  position: absolute;
  top: 26px;
  left: 300px;
  font-size: 10px;
}

div #business1{
  position: absolute;
  top: 240px;
  right: 200px;
  font-size: 10px;
}

div #service1{
  position: absolute;
  top: 26px;
  right: 300px;
  font-size: 10px;
}


div #menu1{
  position:absolute;
  top: 250px;
  left: 10px;
  font-size: 10px;
}
div #BREAKFAST a{

}
div #menu2{
    position:absolute;
    left:300px;
    top:150px;
}

div #menu3{
    position:absolute;
    left: 800px;
    top:150px;
}

div #menu4{
    position:absolute;
    left: 170px;
    top:150px;
}